@charset "utf-8";
/*!
  * Sepetolog Bilişim (https://sepetolog.com.tr/)
  * Author Emir İbrahim KALAYCI (https://emiribrahimkalayci.com.tr)
  */

@media screen and (max-width: 1400px) {
    /* HEADER MENU */

    .headerContent {
        max-width: 1200px;
    }

    /* SERVICES SECTION */

    .servicesGrid {
        grid-template-columns: 265px 265px 265px 265px;
        grid-template-rows: 265px 35px;
        max-width: 1140px;
        margin: 100px auto auto auto;
        gap: 20px;
    }

    .servicesItem1 {
        max-width: 265px;
        max-height: 265px;
    }

    .servicesItem2 {
        max-width: 265px;
        max-height: 265px;
    }

    .servicesItem3 {
        max-width: 265px;
        max-height: 265px;
    }

    .servicesItem4 {
        max-width: 265px;
        max-height: 265px;
    }

    .servicesItem1 span {
        max-width: 265px;
        max-height: 265px;
    }

    .servicesItem2 span {
        max-width: 265px;
        max-height: 265px;
    }

    .servicesItem3 span {
        max-width: 265px;
        max-height: 265px;
    }

    .servicesItem4 span {
        max-width: 265px;
        max-height: 265px;
    }

    /* CAMPAINGS */

    .campaignsGrid {
        grid-template-columns: 1fr 0px 500px 500px 0px 1fr;
    }

    /* SERVICES SECTION 2-3 */ 

    .servicesSection2 {
        height: 591px;
    }

    .servicesSection2Grid {
        grid-template-columns: 545px 545px;
        width: 1110px;
        height: 591px;
        margin: 70px auto auto auto;
        gap: 20px;
    }

    .section2Img {
        width: 545px;
        height: 591px;
    }

    .section3Img {
        width: 545px;
        height: 591px;
    }

    .section2Header {
        font-size: 20px;
    }

    .section2Bold {
        font-size: 20px;
    }

    .section2Text {
        font-size: 20px;
    }

    /* ROCK AREA */
    
    .rockGrid {
        grid-template-columns: 545px 545px;
    }

    /* FOOTER */

    .footerHeader {
        font-size: 68px;
    }

    .clock {
        font-size: 25px;
    }

    .footerGrid {
        grid-template-columns: 370px 370px 370px;
        width: 1110px;
    }

    .footerInstagram {
        width: 370px;
    }

    .footerPhone {
        width: 370px;
    }

    .footerMap {
        width: 370px;
    }

    .footerText {
        font-size: 18px;
    }

    /* CONTACT GRID */

    .googleMapsGrid {
        grid-template-columns: 1fr 1130px 1fr;
    }  

    /* SERVICES PAGE */

    .servicesPageGrid {
        display: grid;
        grid-template-columns: 1fr 40px 500px 30px 500px 40px 1fr;
        grid-template-rows: 603px 603px 603px;
        width: 100%;
        height: 100%;
        margin: 70px auto 70px auto;
        grid-gap: 40px 0px;
    }

    .servicesSpace70 {
        width: 40px;
    }
    
    .servicesSpace40 {
        width: 30px;
    }

    /* spa section*/

    .servicesPageTextSpa {
        width: 500px;
        height: 603px;
    }

    .servicesPageTextSpaAnimation {
        width: 500px;
        height: 603px;
    }

    .servicesImageSpa {
        height: 603px;
    }

    /* sauna section*/

    .servicesPageTextSauna {
        width: 500px;
        height: 603px;
    }

    .servicesPageTextSaunaAnimation {
        width: 500px;
        height: 603px;
    }

    .servicesImageSauna {
        height: 603px;
    }

    /* masaj section*/


    .servicesImageMasaj {
        height: 603px;
    }

    .servicesPageTextMasaj {
        width: 500px;
        height: 603px;
    }

    .servicesPageTextMasajAnimation {
        width: 500px;
        height: 603px;
    }
    
}

@media screen and (max-width: 1200px) {

    /* HEADER MENU */
    .headerContent {
        max-width: 800px;
    }

    header .menu {
        padding-right: 0px;
    }

    /* WELCOME SECTION */

    .welcomeGrid {
        grid-template-columns: 480px 480px;
        max-width: 960px;
        margin: 84px auto 0 auto;
    }

    .welcomeImg {
        max-width: 480px;
    }

    .text {
        padding-left: 0px;
    }

    /* SERVICES SECTION */

    .servicesText {
        padding: 0 50px;
    }

    .services {
        margin-top: 30px;
    }

    .servicesGrid {
        grid-template-columns: 230px 230px 230px 230px;
        grid-template-rows: 230px 35px;
        max-width: 960px;
        margin: 50px auto auto auto;
        gap: 20px;
    }

    .servicesItem1 {
        max-width: 230px;
        max-height: 230px;
    }

    .servicesItem2 {
        max-width: 230px;
        max-height: 230px;
    }

    .servicesItem3 {
        max-width: 230px;
        max-height: 230px;
    }

    .servicesItem4 {
        max-width: 230px;
        max-height: 230px;
    }

    .servicesItem1 span {
        max-width: 230px;
        max-height: 230px;
    }

    .servicesItem2 span {
        max-width: 230px;
        max-height: 230px;
    }

    .servicesItem3 span {
        max-width: 230px;
        max-height: 230px;
    }

    .servicesItem4 span {
        max-width: 230px;
        max-height: 230px;
    }

    /* CAMPAINGS */

    .campaignsGrid {
        grid-template-columns: 1fr 0px 300px 300px 0px 1fr;
    }

    .campaigns1 {
        width: 300px;
        height: 500px;
    }

    .campaigns2 {
        width: 300px;
        height: 500px;
    }

    /* DESCRIPTION */

    .descriptionGrid {
        height: 183px;
        margin: auto;
        grid-template-columns: 1fr 0px 700px 0px 1fr;
    }

    .descriptionText {
        font-size: 18px;
    }

    /* SERVICES SECTION 2-3 */ 

    .servicesSection2 {
        height: 478px;
    }

    .servicesSection2Grid {
        grid-template-columns: 441px 441px;
        width: 902px;
        height: 478px;
        margin: 70px auto auto auto;
        gap: 20px;
    }

    .section2Img {
        width: 441px;
        height: 478px;
    }

    .section3Img {
        width: 441px;
        height: 478px;
    }

    .section2Header {
        font-size: 16px;
    }

    .section2Bold {
        font-size: 16px;
    }

    .section2Text {
        font-size: 16px;
    }

    /* ROCK AREA */
    
    .rockGrid {
        grid-template-columns: 441px 441px;
    }

    /* FOOTER */

    .footerHeader {
        font-size: 68px;
    }

    .clock {
        font-size: 25px;
    }

    .footerGrid {
        grid-template-columns: 300px 300px 300px;
        width: 900px;
    }

    .footerInstagram {
        width: 300px;
    }

    .footerPhone {
        width: 300px;
    }

    .footerMap {
        width: 300px;
    }

    .footerText {
        font-size: 15px;
    }

    /* CONTACT GRID */

    .googleMapsGrid {
        grid-template-columns: 1fr 950px 1fr;
    }

    .contactGrid {
        grid-template-columns: 3fr 1fr 400px 400px 1fr 3fr;
        grid-gap: 20px;
    }

    .addressGrid {
        width: 400px;
    }
    
    .address {
        width: 400px;
    }
    
    .addressHead {
        font-weight: 400;
    }

    .form {
        width: 400px;
    }
       
    .contactFormGrid{
        grid-template-columns: 400px;
    }

    /* SERVICES PAGE */

    .servicesPageGrid {
        display: grid;
        grid-template-columns: 1fr 20px 400px 20px 400px 20px 1fr;
        grid-template-rows: 482px 482px 482px;
        width: 100%;
        height: 100%;
        margin: 70px auto 70px auto;
        grid-gap: 40px 0px;
    }

    .servicesSpace70 {
        width: 20px;
    }
    
    .servicesSpace40 {
        width: 20px;
    }

    /* spa section*/

    .servicesPageTextSpa {
        width: 400px;
        height: 482px;
    }

    .servicesPageTextSpaAnimation {
        width: 400px;
        height: 482px;
    }

    .servicesImageSpa {
        height: 482px;
    }

    /* sauna section*/

    .servicesPageTextSauna {
        width: 400px;
        height: 482px;
    }

    .servicesPageTextSaunaAnimation {
        width: 400px;
        height: 482px;
    }

    .servicesImageSauna {
        height: 482px;
    }

    /* masaj section*/


    .servicesImageMasaj {
        height: 482px;
    }

    .servicesPageTextMasaj {
        width: 400px;
        height: 482px;
    }

    .servicesPageTextMasajAnimation {
        width: 400px;
        height: 482px;
    }

    .servicesPacks {
        grid-template-columns: 370px 370px;
        grid-template-rows: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px ;
        width: 785px;
        grid-gap: 45px 45px;
    }
    
    .packsBox{
        width: 370px;
        height: 100px;
        font-size: 20px;
    }
}

@media screen and (max-width: 992px) {

    /* HEADER */
    .headerContent {
        max-width: 720px;
    }

    /* MAIN SLIDER */

    .baliSpa {
        font-size: 46px;
        text-underline-offset: 10px;
    }

    .baliSlogan {
        font-size: 58px;
    }

    .sliderButton {
        font-size: 25px;
        padding: 5px 25px 5px 25px;
        border-radius: 12px;
    }

    .sliderButton:hover {
        opacity: 100%;
        border: 1px solid #fff;
        padding: 4px 24px 4px 24px;
    }

    /* MOBILE MENU */

    .mobileIcon {
        display: block;
    }

    .mobileMenu {
        display: none;
        position: absolute;
        background-color: #000;
        opacity: .9;
        width: 100%;
        height: 100%;
        color: #fff;
        z-index: 999;
        text-align: center;
    }

    .mobileMenu ul {
        text-decoration: none;
        list-style: none;
        font-family: 'Quicksand', sans-serif;
        font-weight: 500;
        font-size: 30px;
        text-decoration: none;
    }

    .mobileItem {
        margin: 50px;
    }

    .menu {
        display: none;
    }

    /* WELCOME SECTION */

    .welcomeGrid {
        grid-template-columns: 360px 360px;
        max-width: 720px;
        margin: 36px auto 0 auto;
    }

    .welcomeImg {
        max-width: 360px;
    }

    .text {
        padding-left: 37px;
    }

    /* SERVICES SECTION */

    .servicesText {
        padding: 0 30px;
    }

    .services {
        margin-top: 16px;
    }

    .servicesHeader {
        font-size: 27px;
    }

    .servicesGrid {
        grid-template-columns: 170px 170px 170px 170px;
        grid-template-rows: 170px 27px;
        max-width: 720px;
        margin: 50px auto auto auto;
        gap: 20px;
    }

    .servicesItem1 {
        width: 170px;
        height: 170px;
    }

    .servicesItem2 {
        width: 170px;
        height: 170px;
    }

    .servicesItem3 {
        width: 170px;
        height: 170px;
    }

    .servicesItem4 {
        width: 170px;
        height: 170px;
    }

    .servicesItem1 span {
        width: 170px;
        height: 170px;
    }

    .servicesItem2 span {
        width: 170px;
        height: 170px;
    }

    .servicesItem3 span {
        width: 170px;
        height: 170px;
    }

    .servicesItem4 span {
        width: 170px;
        height: 170px;
    }

    .servicesItem1 span::before {
        height: 15px;
        width: 15px;
        margin: -10px;
    }

    .servicesItem2 span::before {
        height: 15px;
        width: 15px;
        margin: -10px;
    }

    .servicesItem3 span::before {
        height: 15px;
        width: 15px;
        margin: -10px;
    }

    .servicesItem4 span::before {
        height: 15px;
        width: 15px;
        margin: -10px;
    }

    /* CAMPAINGS */

    .campaignsGrid {
        grid-template-columns: 1fr 0px 200px 200px 0px 1fr;
    }

    .campaigns1 {
        width: 200px;
        height: 400px;
        font-size: 17px;
    }

    .campaigns2 {
        width: 200px;
        height: 400px;
        font-size: 17px;
    }

    /* DESCRIPTION */

    .description {
        margin-top: 78px;
    }

    .descriptionGrid {
        top: 38px;
        height: 183px;
        margin: auto;
        grid-template-columns: 1fr 0px 500px 0px 1fr;
    }

    .descriptionText {
        font-size: 15px;
    }

    /* RANDEVU SECTION */

    .randevuSection {
        width: 100%;
        height: 300px;
        background-color: #efebe5;
        margin-top: 48px;
    }

    form {
        display: grid;
        grid-template-columns: 150px 150px 150px;
        width: 460px;
        height: 200px;
        grid-gap: 10px 5px;
    }

    /* TESTIMONIALS */

    .testimonials {
        height: 486px;
        margin-top: 48px;
    }

    .slider {
        width: 700px;
        height: 370px;
    }

    .slides{
        width: 500%;
        height: 370px;
    }

    .slide{
        width: 20%;
    }

    .navigation-manual{
        width: 700px;
        margin-top: -40px;
    }

    .navigation-auto{
        width: 700px;
        margin-top: 332px;
    }

    .customerName {
        font-size: 23px;
    }

    .testimonialsText {
        font-size: 23px;
    }

    /* SERVICES SECTION 2-3 */ 

    .servicesSection2 {
        height: 357px;
    }

    .servicesSection2Grid {
        grid-template-columns: 329px 329px;
        width: 678px;
        height: 357px;
        margin: 70px auto auto auto;
        gap: 20px;
    }

    .section2Img {
        width: 329px;
        height: 357px;
    }

    .section3Img {
        width: 329px;
        height: 357px;
    }

    .section2Header {
        font-size: 12px;
    }

    .section2Bold {
        font-size: 12px;
    }

    .section2Text {
        font-size: 12px;
    }

    /* ROCK AREA */
    
    .rockGrid {
        grid-template-columns: 329px 329px;
    }

    /* FOOTER */

    .footerHeader {
        font-size: 48px;
    }

    .clock {
        font-size: 20px;
    }

    .footerGrid {
        grid-template-columns: 240px 240px 240px;
        width: 720px;
    }

    .footerInstagram {
        width: 240px;
    }

    .footerPhone {
        width: 240px;
    }

    .footerMap {
        width: 240px;
    }

    .footerText {
        font-size: 11px;
    }

    /* CONTACT GRID */

    .googleMapsGrid {
        grid-template-columns: 1fr 530px 1fr;
    }

    .contactGrid {
        grid-template-columns: 400px;
        grid-template-rows: 500px 500px;
        width: 400px;
        height: 1000px;
        grid-gap: 20px 0px;
        margin: 50px auto 50px auto;
    }

    .contactSpace {
        display: none;
    }

    .contactGrid .campaignsLeftImage {
        display: none;
    }

    .contactGrid .campaignsRightImage {
        display: none;
    }

    .addressGrid {
        width: 400px;
    }
    
    .address {
        width: 400px;
    }
    
    .addressHead {
        font-weight: 400;
    }

    .form {
        width: 400px;
        height: 500px;
    }

    .addressHead {
        float: left;
        font-family: 'Dancing Script', cursive;
        font-weight: 400;
        font-size: 18px;
        padding-left: 10px;
    }
    
    .addressText {
        float:left;
        font-family: 'Quicksand', sans-serif;
        font-weight: 400;
        font-size: 16px;
    }
       
    .contactFormGrid{
        grid-template-columns: 400px;
    }

    /* SERVICES PAGE */

    .servicesPageGrid {
        display: grid;
        grid-template-columns: 400px;
        grid-template-rows: 482px 482px 482px 482px 482px 482px;
        width: 100%;
        height: 100%;
        margin: 70px auto 70px auto;
        grid-gap: 30px 0px;
        justify-content: center;
    }

    .servicesSpace70 {
        display: none;
    }
    
    .servicesSpace40 {
        display: none;
    }

    .servicesLeftImage {
        display: none;
    } 
    
    .servicesRightImage {
        display: none;
    } 

    /* spa section*/

    .servicesPageTextSpa {
        width: 400px;
        height: 482px;
    }

    .servicesPageTextSpaAnimation {
        width: 400px;
        height: 482px;
    }

    .servicesImageSpa {
        height: 482px;
    }

    /* sauna section*/

    .servicesPageTextSauna {
        width: 400px;
        height: 482px;
    }

    .servicesPageTextSaunaAnimation {
        width: 400px;
        height: 482px;
    }

    .servicesImageSauna {
        height: 482px;
    }

    /* masaj section*/


    .servicesImageMasaj {
        height: 482px;
    }

    .servicesPageTextMasaj {
        width: 400px;
        height: 482px;
    }

    .servicesPageTextMasajAnimation {
        width: 400px;
        height: 482px;
    }

    .servicesPacks {
        grid-template-columns: 370px 370px;
        grid-template-rows: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px;
        width: 785px;
        grid-gap: 15px 15px;
    }
    
    .packsBox{
        width: 370px;
        height: 100px;
        font-size: 20px;
    }

}

@media screen and (max-width: 768px) {
    /* WELCOME SECTION */

    .welcomeGrid {
        grid-template-columns: 540px;
        max-width: 540px;
        margin: auto;
        align-items: none;
    }

    .welcomeImg {
        margin: 0 auto 0 auto;
    }

    .text {
        padding-left: 0;
    }

    /* SERVICES SECTION */

    .services {
        margin-top: 50px;
    }

    .servicesHeader {
        font-size: 35px;
    }

    .servicesGrid {
        grid-template-columns: 230px 230px;
        grid-template-rows: 230px 35px 230px 35px;
        max-width: 540px;
        height: 620px;
        margin: -50px auto auto auto;
        gap: 60px 20px;
    }

    .servicesItem1 {
        width: 230px;
        height: 265px;
        margin-top: 160px;
    }

    .servicesItem2 {
        width: 230px;
        height: 265px;
        margin-top: 160px;
    }

    .servicesItem3 {
        width: 230px;
        height: 265px;
        margin-top: 160px;
    }

    .servicesItem4 {
        width: 230px;
        height: 265px;
        margin-top: 160px;
    }

    .servicesItem1 span {
        width: 230px;
        height: 230px;
    }

    .servicesItem2 span {
        width: 230px;
        height: 230px;
    }

    .servicesItem3 span {
        width: 230px;
        height: 230px;
    }

    .servicesItem4 span {
        width: 230px;
        height: 230px;
    }

    /* IMAGE GALLERY */

    .swiper-navBtn {
        display: none;
      }

    /* TESTIMONIALS */

    .testimonials {
        height: 486px;
        margin-top: 48px;
    }

    .slider {
        width: 500px;
        height: 370px;
    }

    .slides{
        width: 500%;
        height: 370px;
    }

    .slide{
        width: 20%;
    }

    .navigation-manual{
        width: 500px;
        margin-top: -40px;
    }

    .navigation-auto{
        width: 500px;
        margin-top: 332px;
    }

    .customerName {
        font-size: 20px;
    }

    .testimonialsText {
        font-size: 20px;
    }

    /* SERVICES SECTION 2-3 */ 

    .servicesSection2 {
        height: 734px;
    }

    .servicesSection2Grid {
        grid-template-columns: 329px;
        grid-template-rows: 357px 357px;
        width: 329px;
        height: 734px;
        margin: 70px auto auto auto;
        gap: 0px 10px;
    }

    .section2Img {
        width: 329px;
        height: 357px;
    }

    .section3Img {
        width: 329px;
        height: 357px;
    }

    .section2Header {
        font-size: 13px;
    }

    .section2Bold {
        font-size: 13px;
    }

    .section2Text {
        font-size: 13px;
    }

    /* ROCK AREA */
    
    .rockGrid {
        grid-template-columns: 288px 288px;
    }

    /* FOOTER */

    .footerHeader {
        font-size: 48px;
    }

    .clock {
        font-size: 20px;
    }

    .footerGrid {
        grid-template-columns: 540px;
        width: 540px;
        grid-gap: 10px 0;
    }

    .footerInstagram {
        width: 540px;
    }

    .footerPhone {
        width: 540px;
    }

    .footerMap {
        width: 540px;
    }

    .footerText {
        font-size: 11px;
    }

    .servicesPacks {
        grid-template-columns: 370px;
        grid-template-rows: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px;
        width: auto;
        grid-gap: 15px 0px;
        justify-content: center;
    }
    
    .packsBox{
        width: 370px;
        height: 100px;
        font-size: 20px;
    }

}

@media screen and (max-width: 576px) {
    /* HEADER MENU */

    .headerLogo {
        padding-left: 10px;
    }

    .headerContent {
        max-width: 100%;
    }

    .baliSpa {
        text-underline-offset: 10px;
        -webkit-animation: fadein 3s ease-in alternate;
        -moz-animation: fadein 3s ease-in alternate;
        animation: fadein 3s ease-in alternate;
    }

    /* MOBILE MENU */

    .mobileIcon {
        display: block;
        padding: 10px;
    }

    .mobileMenu {
        display: none;
    }

    .mobileMenu ul {
        text-decoration: none;
        list-style: none;
        font-family: 'Quicksand', sans-serif;
        font-weight: 500;
        font-size: 30px;
    }

    ul .x {
        text-align: end;
        color: red;
        font-weight: bolder;
        margin-right: 30px;
        margin-top: 30px;
    }

    .mobileItem {
        margin: 50px;
    }

    .menu {
        display: none;
    }

    /* SOCIAL ICONS */

.social {
    top: 100px;
}

    /* MAIN SLIDER */ 

    .baliSpa {
        font-size: 36px;
    }

    .baliSlogan {
        font-family: 'Quicksand', sans-serif;
        font-weight: 500;
        font-size: 25px;
        padding-top: 50xp;
    }

    .mobilSpace {
        display: block;
    }

    /* WELCOME SECTION */

    .welcomeGrid {
        grid-template-columns: 100%;
        max-width: 100%;
        margin: auto;
        align-items: none;
    }

    .welcomeImg {
        margin: 0 auto 0 auto;
        padding: 0 20px;
    }

    .text {
        padding-left: 0;
        padding: 0 20px;
    }

    /* SERVICES SECTION */

    .servicesGrid {
        display: none;
    }

    .servicesGridMobile {
        display: grid;
        margin-top: 40px;
        grid-template-columns: auto;
        grid-template-rows: 265px 35px 265px 35px 265px 35px 265px 35px;
        width: 265px;
        height: 1140px;
        align-items: center;
        justify-content: center;
        margin: auto;
        gap: 20px 0px;
    }

    .mobileServicesItem11 {
        width: auto;
        height: 265px;
    }

    .mobileServicesItem2 {
        width: auto;
        height: 265px;
    }

    .mobileServicesItem3 {
        width: auto;
        height: 265px;
    }

    .mobileServicesItem4 {
        width: auto;
        height: 265px;
    }

    .mobileServicesItemText1 {
        justify-self: center;
    }

    .mobileServicesItemText2 {
        justify-self: center;
    }

    .mobileServicesItemText3 {
        justify-self: center;
    }

    .mobileServicesItemText4 {
        justify-self: center;
    }

    /* CAMPAINGS */

    .campaignsGrid {
        grid-template-columns: 0px 1fr 1fr 0px;
        grid-gap: 5px;
    }

    .campaigns1 {
        width: auto;
        height: 350px;
    }

    .campaigns2 {
        width: auto;
        height: 350px;
    }

    .campaignsRightImage {
        display: none;
    }

    .campaignsLeftImage {
        display: none;
    }

    /* DESCRIPTION */

    .description {
        margin-top: 128px;
    }

    .descriptionGrid {
        top: 38px;
        height: 183px;
        margin: auto;
        grid-template-columns: 0px 1fr 0px;
    }

    .descriptionText {
        font-size: 15px;
    }

    .descriptionLeftImage {
        display: none;
    }

    .descriptionRightImage {
        display: none;
    }

    /* RANDEVU SECTION */

    .randevuSection {
        width: 100%;
        height: 450px;
        background-color: #efebe5;
        margin-top: 48px;
    }

    form {
        display: grid;
        grid-template-columns: 200px;
        width: 200px;
        height: 350px;
        margin: auto;
        grid-gap: 5px 0px;
        justify-content: center;
        align-content: center;
    }

    .randevuSectionBottom {
        font-size: 16px;
    }
    
    span.randevuBottom {
        font-size: 25px;

    }

    /* TESTIMONIALS */

    .testimonials {
        height: 486px;
        margin-top: 48px;
        overflow-x: hidden!important;
    }

    .slider {
        width: 100%;
        height: 370px;
    }

    .slides{
        width: 500%;
        height: 370px;
    }

    .slide{
        width: 20%;
    }

    .navigation-manual{
        width: 100%;
        margin-top: -40px;
    }

    .navigation-auto{
        width: 100%;
        margin-top: 332px;
    }

    .customerName {
        font-size: 18px;
    }

    .testimonialsText {
        font-size: 18px;
    }

    /* SERVICES SECTION 2-3 */ 

    .servicesSection2 {
        height: auto;
    }

    .servicesSection2Grid {
        grid-template-columns: 90%;
        grid-template-rows: auto auto;
        width: auto;
        height: auto;
        margin: 70px auto auto auto;
        gap: 0px 10px;
    }

    .section2Img {
        width: 100%;
        height: 357px;
    }

    .section3Img {
        width: 100%;
        height: 357px;
        margin-top: 10px;
    }

    .section2Header {
        font-size: 13px;
    }

    .section2Bold {
        font-size: 13px;
    }

    .section2Text {
        font-size: 13px;
    }

    /* ROCK AREA */
    
    .rockGrid {
        grid-template-columns: 1fr 1fr;
    }

    /* FOOTER */

    .footerHeader {
        font-size: 48px;
    }

    .clock {
        font-size: 20px;
    }

    .footerGrid {
        grid-template-columns: auto;
        width: 90%;
        grid-gap: 10px 0;
    }

    .footerInstagram {
        width: auto;
    }

    .footerPhone {
        width: auto;
    }

    .footerMap {
        width: auto;
    }

    .footerText {
        font-size: 11px;
    }

    /* CONTACT GRID */

    .googleMapsGrid {
        grid-template-columns: 1fr auto 1fr;
    }

    .contactGrid {
        grid-template-columns: auto;
        grid-template-rows: 500px 500px;
        width: 100%;
        height: 1000px;
        grid-gap: 20px 0px;
        margin: 50px auto 50px auto;
    }

    .contactSpace {
        display: none;
    }

    .contactGrid .campaignsLeftImage {
        display: none;
    }

    .contactGrid .campaignsRightImage {
        display: none;
    }

    .addressGrid {
        width: auto;
    }
    
    .address {
        width: 90%;
    }
    
    .form {
        width: auto;
    }
       
    .contactFormGrid{
        grid-template-columns: auto;
    }

    .iletisim {
        width: auto;
    }

    .adSoyad {
        width: auto;
    }
    
    .email {
        width: auto;
    }
    
    .telefon {
        width: auto;
    }
    
    .mesaj {
        width: auto;
    }

    .captchaDiv {
        width: auto;
    }

    .buttonSend {
        width:auto;
    }

    .addresImage {
        background-position: center;
    }

    /* SERVICES PAGE */

    .servicesPageGrid {
        display: grid;
        grid-template-columns: 90%;
        grid-template-rows: auto auto auto auto auto auto;
        width: 100%;
        height: 100%;
        margin: 70px auto 70px auto;
        grid-gap: 40px 40px;
        justify-content: center;
    }

    .servicesSpace70 {
        display: none;
    }
    
    .servicesSpace40 {
        display: none;
    }

    .servicesLeftImage {
        display: none;
    } 
    
    .servicesRightImage {
        display: none;
    } 

    /* spa section*/

    .servicesPageTextSpa {
        width: 100%;
        height: auto;
    }

    .servicesPageTextSpaAnimation {
        width: 100%;
        height: auto;
        -webkit-animation: none;
        -moz-animation: none;
        animation: none;
    }

    .servicesImageSpa {
        height: 482px;
    }

    /* sauna section*/

    .servicesPageTextSauna {
        width: 100%;
        height: auto;
    }

    .servicesPageTextSaunaAnimation {
        width: 100%;
        height: auto;
        -webkit-animation: none;
        -moz-animation: none;
        animation: none;
    }

    .servicesImageSauna {
        height: 482px;
    }

    /* masaj section*/


    .servicesImageMasaj {
        height: 482px;
    }

    .servicesPageTextMasaj {
        width: 100%;
        height: auto;
    }

    .servicesPageTextMasajAnimation {
        width: 100%;
        height: auto;
        -webkit-animation: none;
        -moz-animation: none;
        animation: none;
    }

    .servicesPacks {
        grid-template-columns: 90%;
        grid-template-rows: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px;
        width: 100%;
        grid-gap: 15px 0px;
        justify-content: center;
    }
    
    .packsBox{
        width: auto;
        height: 100px;
        font-size: 20px;
    }
}