@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);
@font-face {
font-family: forza;
src: url(forza.otf);
}

a:hover {

 text-decoration: none;

}
*:focus {
    outline: none;
}
body {
    -webkit-animation-delay: 0.1s;
    -webkit-animation-name: fontfix;
    -webkit-animation-duration: 0.1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
 font-family:'Forza';
font-size: 14px;
line-height: 1.42857143;
color: #333;
background-color: #fff;
}

@-webkit-keyframes fontfix {
    from { opacity: 1; }
    to   { opacity: 1; }
}

.center {
  text-align: center;
}
/*NAV STYLES*/

.navbar-default {
background-color: #fff;
border-color: #eee;
}
.navbar-default .logo {
 max-width:100px;
}
.navbar-default li {

font-family:'Forza';
font-weight: 300;
color: #45494d;
font-size:17px;
}

/*END NAV STYLES*/


.hero {
 
background-color: #34495e;
  height:300px;
  overflow: hidden;
position: relative;
text-align: center;
border-top: 1px solid #bebebe;
border-bottom: 1px solid #bebebe;


}


.footer {
background-color: #2e3133;
padding: 25px;
padding-bottom:50px;
color: #888;
   width:100%;

}

.footer .header {
color: #fff;
font-weight: 500;
margin-bottom: .5rem;
}

.footer a {

 color: #888;
 display: block;

}
.footer a:hover {

 color: rgba(255,255,255,0.9);
 text-decoration: none;

}

.promobar {
  border-top: 1px solid #bcb9b6;
 background-color: #eaeaea;

 text-align: center;
 padding:10px;
 padding-bottom:20px;
 z-index: 100000;
 position: relative;

}
.logo {
 
 height:50px;
 margin:7px 7px 7px 25px;


}
.hero .leader {
margin-top:50px;
font-family:'Forza';
font-size: 54px;
font-weight:500;
color:#fff;
letter-spacing: -1.5px;
}

.hero .sub {

  margin-top:10px;
color:#fff;
font-family:'Forza';
font-size: 25px;
font-weight:300;
}

.hero .hero-buttons {
 
 margin-top:30px;

}

.hero .hero-buttons a {
 
 margin-right:15px;
 border:2px solid #fff;

}

.leader-grey {

font-family:'Forza';
font-size: 30px;
font-weight:500;
 color: #45494d;
 text-align: center;

}
.large-title {

font-weight:700;
font-size: 35px;


}
.wrapper {
 margin-top:25px;
 width:100%;
 min-height:600px;

}
.paragraph-title {
 
  font-size: 20px;
 font-family:'Forza';
 font-weight:500;
 color:#303030;
}
.paragraph {
  font-size: 18px;
  line-height: 26.55px;
  color: #888;
  font-family:'Forza';
  font-weight:300;
  margin-bottom:10px;
}
.sub-heading {
  font-size: 16px;
  line-height: 26.55px;
  color: #888;
  font-family:'Forza';
  font-weight:300;
  margin-bottom:15px;
}
li {

color: #888;
font-family:'Forza';
font-weight:300;

}
.internal-small li {
font-size: 18px;
  color: #888;
font-family:'Forza';
font-weight:300;

}
.internal-small ul {
margin-bottom: 14px;

}
.small-paragraph {
  font-size: 14px;
  line-height: 26.55px;
  color: #888;
  font-family:'Forza';
  font-weight:300;
  margin-bottom:10px;
}
.jumbotron{text-shadow:0 1px 3px rgba(0,0,0,0.5);background-repeat:no-repeat;background-position:center center;z-index: -1;}
.jumbotron{position:relative;overflow:hidden;height:648px;padding-top:60px;margin-bottom:60px;color:#fff;text-align:center;z-index: -1;}
.jumbotron-screenshots{position:relative;-webkit-animation:fade-in-screenshots 1.0s;-moz-animation:fade-in-screenshots 1.0s}@-webkit-keyframes fade-in-screenshots{0%{opacity:0;-webkit-transform:translateY(200px)}50%{opacity:0;-webkit-transform:translateY(200px)}100%{opacity:1;-webkit-transform:translateY(0)}}@-moz-keyframes fade-in-screenshots{0%{opacity:0;-webkit-transform:translateY(200px)}50%{opacity:0;-webkit-transform:translateY(200px)}100%{opacity:1;-webkit-transform:translateY(0)}}
.jumbotron-screenshot{position:relative;margin-bottom:-20px}

.jumbotron-screenshot.terminal{position:absolute;left:50%;top:110px;z-index:2;margin-left:0px}

.jumbotron-screenshot.terminal img{border-radius:3px;width:600px;z-index: -1;}
.jumbotron-screenshot.enterprise{margin-top:-70px;}
.jumbotron-screenshot.enterprise img{border-radius:5px;z-index: -1;}


.plan {

background-color: #fafafa;
position: relative;
color: #454545;
padding: 14px;
border: 1px solid #e1e1e1;
width: 100%;
font-family:'Forza';
text-align: center;
margin-bottom:5px;
}
.color-bar {
background-color: #3686be;
height:4px;
width:100%;
}
.header-plan {
background-color: #00aeef;
color: #fff;
text-align: center;
padding: 13px 0;
font-size: 24px;
font-weight: 300;
}

.activeplan {

color: #fff;
background-color: #428bca;
position: relative;
padding: 14px;
border: 1px solid #e1e1e1;
width: 100%;
font-family:'Forza';
text-align: center;
margin-bottom:30px;
}
.plan .price span {
display: inline-block;
position: relative;
}
.plan .price {
font-size: 30px;

width: 100%;
margin-bottom: 5px;
margin-top: 5px;

}
.plan .pound {
top: -10px;
letter-spacing: -1px;
left: 3px;

}
.plan .amount {
font-size: 50px;
font-weight: 500;
}
.plan .slash {
font-weight: 500;
left: -2px;
}
.plan .month {
font-weight: 500;
left: -7px;
}
.plan .pop-plan {

font-size: 16px;
margin-bottom: 45px;
}
 .login-or {
    position: relative;
    font-size: 18px;
    color: #888888;
    margin-top: 10px;
            margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .span-or {
    display: block;
    position: absolute;
    left: 50%;
    top: -2px;
    margin-left: -150px;
    background-color: #fff;
    width: 300px;
    text-align: center;
    font-family:'Forza';
    font-weight: 500;

  }
  .hr-or {
    background-color: #cdcdcd;
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }

  .includes {

    margin-top:40px;
    margin-bottom:5px;

  }

    .includes ul {

    list-style: none;

  }

    .includes li {

    text-align: center;
    font-family:'Forza';
    font-weight: 500;
    font-size: 18px;
    padding:5px;

  }
  .gateways img {

  margin-left: auto;
    margin-right: auto;

}
.gateways img {

  display:inline;
  width:13%;
  padding:10px;
  opacity: 0.5;
   display:inline-block;
    margin-left: auto;
    margin-right: auto;
    margin:5px;

}
.gateways img:hover {

  opacity: 0.9;

}

.articles {


}
.articles ul {

 list-style: none;
 padding-left:0;

}
.articles li {

 padding:15px 0 10px 0;
 border-top: 1px solid #e8e8e8;

}

.articles li a {

 text-decoration: none;

}
.articles li a:hover {

 text-decoration: none;

}
.articles .title {

 
    font-family:'Forza';
    font-weight: 300;
    font-size: 18px;
    padding:5px 5px 25px 5px;
    color: #000;

}
.article .title {

 
    font-family:'Forza';
    font-weight: 300;
    font-size: 30px;
    padding:0px 0px 15px 0px;

}
.article code {

    white-space: pre-wrap;
    max-width: 100%;

}
.articles .sub {

 
    font-family:'Forza';
    font-weight: 300;
    font-size: 15px;
    padding:5px;
    font-style: italic;

}

.article-data {

  font-family:'Forza';
  font-weight: 300;
  font-size: 15px;
  padding-top:20px;
  color: #000;

} .stars {
 
 margin-top:5px;

}

.article {

 padding-bottom:5px;
 font-size: 17px;

}

.article .openticket {
   
   height:100px;
   width:100%;
   text-align: center;
   padding:35px;
   margin-top:30px;
   font-size: 19px;
   border-top: 1px solid #ddd;

}

.inprint {

   font-family:'Forza';
    font-weight: 300;
    font-size: 15px;
    padding:5px;
    font-style: italic; 
}
.nav-sidebar { 
    width: 100%;
    padding: 8px 0; 
    border-right: 1px solid #ddd;
}
.nav-sidebar a {
    color: #666;
    font-weight: 300;
    -webkit-transition: all 0.08s linear;
    -moz-transition: all 0.08s linear;
    -o-transition: all 0.08s linear;
    transition: all 0.08s linear;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
    text-transform: none;
}
.nav-sidebar .active a { 
    cursor: default;
color: #fff;
background: #4183c4;

}
.nav .nav-pills .nav-stacked a {

    color: #666;
    font-weight: 300;
    font-size: 14px;
    -webkit-transition: all 0.08s linear;
    -moz-transition: all 0.08s linear;
    -o-transition: all 0.08s linear;
    transition: all 0.08s linear;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
    text-transform: none;

}

.nav-sidebar .text-overflow a,
.nav-sidebar .text-overflow .media-body {
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis; 
}

/* Right-aligned sidebar */
.nav-sidebar.pull-right { 
    border-right: 0; 
    border-left: 1px solid #ddd; 
}
.nav-sidebar.pull-right a {
    -webkit-border-radius: 0 4px 4px 0; 
    -moz-border-radius: 0 4px 4px 0; 
    border-radius: 0 4px 4px 0; 
}

#map-canvas {
 
 height:130px;

}

.panel-seperator {
border-top: 1px solid #dddddd;
border-radius: 0;
-moz-border-radius: 0;
-webkit-border-radius: 0;
   font-family:'Forza';
    font-weight: 300;
    font-size: 18px;
}

.no_content {

    font-family:'Forza';
    font-weight: 300;
    font-size: 18px;
    width:100%;
    text-align: center;
    padding:40px;

}
.filterable {
    margin-top: 15px;
}
.filterable .panel-heading .pull-right {
    margin-top: -20px;
}
.filterable .filters input[disabled] {
    background-color: transparent;
    border: none;
    cursor: auto;
    box-shadow: none;
    padding: 0;
    height: auto;
}
.filterable .filters input[disabled]::-webkit-input-placeholder {
    color: #333;
}
.filterable .filters input[disabled]::-moz-placeholder {
    color: #333;
}
.filterable .filters input[disabled]:-ms-input-placeholder {
    color: #333;
}
td {

color: #666;


}

/*Tumblr*/

 .post p {
 
  font-size: 15px;
  line-height: 18px;

 }
  .postInfo p {
 
  font-size: 15px;
  line-height: 18px;

 }
 .post h3 {
 
 margin-top:0;

 }

/*End Tumblr*/

ul.filter-list {
list-style-type: none;
margin:0;
padding:0;
}
ul.filter-list .filter-item.selected {
color: #fff;
background: #4183c4;
}
ul.filter-list .filter-item {
display: block;
padding: 8px 10px;
margin: 0 0 5px;
font-size: 14px;
border-radius: 3px;
text-decoration: none;
color: #777;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
cursor: pointer;
}
ul.filter-list .filter-item:hover {
background: #eee;
}
ul.filter-list .filter-item.selected:hover {
color: #fff;
background: #4183c4;
}

hr, .rule {
height: 0;
margin: 15px 0;
overflow: hidden;
background: transparent;
border: 0;
border-bottom: 1px solid #ddd;
}
ul.filter-list .filter-item .count {
font-weight: bold;
float: right;
}

.server-list ul {

  padding: 0;
margin-top: 0;
margin-bottom: 0;
list-style: none;

}
.server-list li {

 height:65px;
 padding:13px;
 border-bottom: 1px solid #eee;

}
.server-list li h2{

margin: 0;
display: inline-block;
margin-left:15px;
margin-top:-10px;
line-height: 0;


}
.server-list li h2 a {
font-size: 18px;
color: #4183c4;
}
.server-list li h2 a:hover {
text-decoration: none;

}
.server-list li:hover {

background: #fcfce2;

}


.server-list .icon {

float: left;

}

.server-list .buttons {

float: right;
margin-right: 10px;
margin-top:3px;

}
.server-list li .description {
color: #666;
margin-top: 0;
margin-left:15px;
font-size: 12px;

}

.minibutton {
position: relative;
display: inline-block;
padding: 7px 12px;
font-size: 13px;
font-weight: bold;
color: #333;
text-shadow: 0 1px 0 rgba(255,255,255,0.9);
white-space: nowrap;
background-color: #eeeeee;
background-image: -moz-linear-gradient(#fcfcfc, #eee);
background-image: -webkit-linear-gradient(#fcfcfc, #eee);
background-image: linear-gradient(#fcfcfc, #eee);
background-repeat: repeat-x;
border-radius: 3px;
border: 1px solid #d5d5d5;
vertical-align: middle;
cursor: pointer;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
-webkit-appearance: none;
}
.minibutton:hover {
text-decoration: none;
background-color: #dddddd;
background-image: -moz-linear-gradient(#eee, #ddd);
background-image: -webkit-linear-gradient(#eee, #ddd);
background-image: linear-gradient(#eee, #ddd);
background-repeat: repeat-x;
border-color: #ccc;
}
.minibutton a:hover {
color: #333;
text-shadow: 0 1px 0 rgba(255,255,255,0.9);
}
.steps .complete {
color: #777;
}
.blankslate {
position: relative;
padding: 15px;
text-align: center;
background-color: #fafafa;
border: 1px solid #e5e5e5;
border-radius: 3px;
box-shadow: inset 0 0 10px rgba(0,0,0,0.05);
cursor: pointer;
}
.activeOS {

  border: 1px solid #4183c4;
}
.site-footer-links {
float: left;
margin: 0;
list-style: none;
}
.site-footer {
position: relative;
margin-top: 20px;
padding-top: 20px;
padding-bottom: 40px;
font-size: 12px;
line-height: 1.5;
color: #777;
border-top: 1px solid #eee;
}
.site-footer ul {
 margin:0;
 padding: 0;
  }
.site-footer-links li {
display: inline-block;
line-height: 16px;
}
.site-footer-links li a {
margin-left:10px;
font-size: 12px;
line-height: 1.5;
}
.site-footer-links li a:hover {
text-decoration: none;
}

.top-padding {

 padding:30px 0 10px 0;
 border-top: 1px solid #eee;

}

.modal-body .loading {
  margin:0 auto;
  margin-top:60px;
  margin-bottom:60px;
  text-align: center;
}

#homepage-features {
  padding:50px;
background-color: #eef1f2;
overflow: hidden;
z-index: 100000;
}

.preview-switch {
text-align: left;
display: inline-block;
zoom: 1;
float: none;
margin-top: 40px;
}
.preview-switch a.write {
color: #82B866;
}
.preview-switch a.toggle-switch {
text-transform: uppercase;
text-decoration: none;
letter-spacing: 1px;
font-weight: 700;
float: left;
font-size: 14px;
padding-top: 7px;
color: #b2b2b2;
-webkit-transition: all 0.2s ease-in-out;
-moz-transition: all 0.2s ease-in-out;
-ms-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
}
.preview-switch .switch-pill {
float: left;
background-color: #93cc76;
position: relative;
-webkit-transition: all 0.2s ease-in-out;
-moz-transition: all 0.2s ease-in-out;
-ms-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
cursor: pointer;
width: 70px;
height: 30px;
-webkit-border-radius: 35px;
-moz-border-radius: 35px;
-ms-border-radius: 35px;
-o-border-radius: 35px;
border-radius: 35px;
margin: 0 13px;
}
.preview-switch .switch-pill .switch {
background-color: white;
position: absolute;
top: 3px;
left: 3px;
-webkit-transition: all 0.2s ease-in-out;
-moz-transition: all 0.2s ease-in-out;
-ms-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
width: 24px;
height: 24px;
-webkit-border-radius: 12px;
-moz-border-radius: 12px;
-ms-border-radius: 12px;
-o-border-radius: 12px;
border-radius: 12px;
}
.preview-switch .switch-pill.right .switch {
left: 43px;
}

#ticket {
 
 margin-bottom:50px;

}
#ticket .text-body {

 width:100%;
 display: inline;
 float: right;
 background-color: #fff;
}

#ticket .posted {

 border-top: 1px solid #dadada;
 padding:5px;
 width:100%;
 margin-top:10px;
 text-align: right;

}

#ticket .thumbnail {

  width:100%;

}
#ticket img {

  width:100%;

}

table.list thead {
background-color: #f7f7f7;
border-bottom: 1px solid #ddd;
color: #555;
}

table.list {
width: 100%;
font-size: 14px;
}
table.list tbody td {
width: auto;
}

table.list thead th {
padding: 15px;
text-align: left;
}
table.list tbody td {
padding: 12px;
}
table.list tbody td, .tab-contents>div {
line-height: 140%;
font-size: 14px;
}
td, th {
display: table-cell;
vertical-align: inherit;
}
table.list tbody tr:nth-child(even) {
background-color: #f6f6f6;
}
.section-divider {
background-color: #f7f7f7;
border-bottom: 1px solid #ddd;
padding: 18px 15px 15px 10px;
}
.section-divider {
background-color: #f7f7f7;
border-bottom: 1px solid #ddd;
padding: 18px 0 15px 10px;
}

.switch {
 
 width: 100%;
 padding:0px 20px 20px 20px;
 text-align: center;

}

.switch .on {
 
 color:#14927a;

}

.switch .off {
 
 color:#3686be;

}

.switch i {
 
 cursor:pointer;

}

.switch .switch-label {

font-size: 18px;
font-family:'Forza';
font-weight: 300;
margin-bottom: 20px;
padding:0px 10px 10px 10px;
position:relative;
top:-10px;

}

.switch .switch-label.default {
 
 color: #888;

}

.switch .switch-label .on {
 
 color:#14927a;

}

.switch .switch-label .off {
 
 color:#3686be;

}

.feature {
 
 text-align: center;
 display:block;

}

/*New dedicated server page*/


.steps{display:table;padding:0;overflow:hidden;list-style:none;border:1px solid #ddd;border-radius:3px;box-shadow:0 1px 3px rgba(0,0,0,0.05);width:100%;margin:0 0 30px 0;cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none; 
}
.steps.flat{display:table;padding:0;overflow:hidden;list-style:none;border:1px solid #ddd;-webkit-border-top-left-radius: 3px;-webkit-border-top-right-radius: 3px;-moz-border-radius-topleft: 3px;-moz-border-radius-topright: 3px;border-top-left-radius: 3px;border-top-right-radius: 3px;border-bottom-left-radius: 0px;border-bottom-right-radius: 0px;box-shadow:0 1px 3px rgba(0,0,0,0.05);width:100%;margin:0 0 0 0;cursor: pointer;}
.steps img {margin-top:3px;float:left;opacity: 0.4;}
.steps .current img {margin-top:3px;float:left;opacity: 1;}
.steps li{display:table-cell;width:25%;padding:10px 15px;color:#ccc;cursor: pointer;border-left:1px solid #ddd;background-color:#fafafa}
.steps li.current{background-color:#fff;color:#333}
.steps li.current .mega-octicon{color:#4183c4}
.steps li .mega-octicon{float:left;margin-right:15px;padding-bottom:0px}
.steps li .step{display:block}
.steps li:first-child{border-left:0}
.steps .complete{color:#777}
.steps .complete .mega-octicon{color:#6cc644}
.steps .fa.fa-long {margin-top:8px;float:left;margin-bottom:50px;}

.location-selector-tab {
  background-color: #fff;
  border: 1px solid #ddd;
  border-top:0;
  -webkit-border-bottom-right-radius: 0px;
-webkit-border-bottom-left-radius: 0px;
-moz-border-radius-bottomright: 0px;
-moz-border-radius-bottomleft: 0px;
border-bottom-right-radius: 0px;
border-bottom-left-radius: 0px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.075);
}

.location-selector-tab .body {
  padding:15px 15px 0px 15px;
}

.fat-list ul {
  list-style: none;
  margin: 0;
  padding:0;
}

.fat-list ul li {
  padding:10px;
  list-style: none;
  height:70px;
  border: 1px solid #ddd;
  font-size: 17px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  margin: 10px 0px 10px 0px;
}
.fat-list ul li:hover {
  background-color:#fafafa;
}
.fat-list ul li:hover .dropdown-button-blend {
  background-color:#fafafa;
}
.fat-list ul li:nth-child(even) {
  /*background-color:#fafafa;*/
}
.fat-list ul li a {
  height:40px;
  padding:5px;
  font-size: 19px;
  margin-top:5px;
  margin-right:5px;
  width:90%;
}
.fat-list ul li .large-price {
  font-size: 25px;
}
.fat-list ul li .sub-header {
  font-size: 72%;
  font-weight: 300;
  color: #777;
  margin-top:-2px;
}
.fat-list ul li .col-md-1, .col-md-2, .col-md-3 {
  padding:0;
  margin:0;
}
.fat-list ul li .push-left {
  padding-right:10px;
}
.feature-box {
  border-top:0 !important;
  border-radius:0 !important;
}

.divider-title {
  height:55px;
  padding:12px;
  font-size: 20px;
  text-align: center;
  background-color:#fafafa;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  font-weight: 500;
  margin-top:-1px;
}

.feature-box li i {
      color: #666666;
      padding:5px;
}
 
 .feature-box li {
   text-align: center;
 }

.divider {
  border-top: 1px solid #ddd;
  height:1px;
}



.pricing {

 display:block;
 text-align: center;
 padding:10px 0 10px 0;

}

.pricing .monthly .dollar {

 display: inline-block;
font-size: 14px;
line-height: 33px;
vertical-align: top;
position: relative;
left: 2px;
color: #666666;

}

.pricing .monthly .cost {

 font-size: 30px;
 font-weight: 600;
 color: #666666;
  
}

.pricing .monthly .period {

 font-size: 16px;
position: relative;
right: 3px;
  
}
.pricing .hourly {

 font-size: 14px;
 display: block;
 margin: 3px 0;
 color: #999999;

}

.pricing .hourly strong {

 color: #666666

}

.pricing .line {
 
 border-bottom: 2px solid #f1f1f1;
 margin-top:7px;
 margin-bottom:7px;

}

.pricing .plan-name {
  font-size: 16px;
}

/*Modpacks Start*/
.mod-option {
  text-align: center;
  margin-bottom: 15px;
}

.mod-option .panel-footer {
  border:0;
}
.mod-option .mod-icon { 
  padding:10px;
}

.mod-option .mod-descriptor {
  padding:10px 20px 20px 20px;
  font-weight: 500;
  color: #45494d;
  font-size: 18px;
  height:100%;
  width:100%;
  text-align:center;
}
/*Modpacks End*/

.setup-info-module {
    margin-bottom: 30px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.075);
}
.setup-info-module h2 {
    padding: 15px;
    margin-top: 0;
    margin-bottom: 15px;
    overflow: hidden;
    font-size: 16px;
    border-bottom: 1px solid #ddd;
}
.setup-info-module p {
    padding: 0 15px;
    margin: 15px 0;
}


ul.default-list {
  width:100%;
}
ul.default-list li {

}

.info-panel {
    border: 1px solid #dedede;
    border-radius: 3px;
    -webkit-box-shadow: 0 3px 0 rgba(234,234,234,0.48) 1px 2px #CCC;
    -moz-box-shadow: 0 3px 0 rgba(234,234,234,0.48) 1px 2px #CCC;
    box-shadow: 0 3px 0 rgba(234,234,234,0.48) 1px 2px #CCC;
    padding: 30px 30px 30px 30px;
    margin: 20px 0px 20px 0px;
    overflow: auto;
}

.dedicated .nav-tabs a img {
  width:30px;
  margin-right:10px;
}

.dedicated .nav-tabs a {
  font-size: 18px;
  height:50px;
}
.dedicated .nav-tabs {
    margin-bottom: 0px;
}


.dropdown-button-blend {
    background-color: #fff;
    -webkit-box-shadow: 0;
    box-shadow: 0;
    width: 100%;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border: 0;
    min-height: 60px;
}

.dropdown-menu.inline-dropdown {
    width: 100%;
    border-radius: 0;
    margin-top: 6px;
    padding: 0px 0;
    border: 1px solid #E4E4E4;
    box-shadow: 0;
    color: black;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
    border-radius: 3px;
}

.inline-dropdown li {
    padding: 7px 7px !important;
    height:100% !important;
    max-height:250px !important;
    border:0 !important;
    cursor: pointer;
    font-size: 14px !important;
    margin:0px !important;
    font-weight: 400 !important;
    text-align: center;
}
.inline-dropdown li:hover {
    background-color: #888;
    color: #FFFFFF;
}
.inline-dropdown li i {
  margin-top: 6px;
}

.order-bar {
    border: 1px solid #dedede;
    border-radius: 3px;
    -webkit-box-shadow: 0 3px 0 rgba(234,234,234,0.48) 1px 2px #CCC;
    -moz-box-shadow: 0 3px 0 rgba(234,234,234,0.48) 1px 2px #CCC;
    box-shadow: 0 3px 0 rgba(234,234,234,0.48) 1px 2px #CCC;
    margin: 20px 0px 20px 0px;
}

.order-bar.offer {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  margin: 20px 0px 0px 0px;
}
.offer-bar {
    border: 1px solid #dedede;
    border-top: 0px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    margin: 0px 0px 20px 0px;
    
}

.offer-bar .alert {
  margin:0px;
  border-radius: 0px;
}

.order-bar .internal {
  padding: 30px 30px 30px 30px;
  min-height: 100%;
}
.order-bar .internal-small {
  padding: 18px 5px 5px 5px;
  min-height: 108px
}
.order-bar .internal-small-buttons {
  padding: 12px 30px 10px 15px;
  min-height: 108px
}
.order-bar .internal-small-price {
  padding: 22px 30px 10px 35px;
  min-height: 108px
}
.order-bar .large-label {
  font-size: 21px;
  font-weight: 700;
  color:#34495e;
}
.order-bar .super-large-label {
  font-size: 27px;
  font-weight: 700;
  color:#34495e;
}
.order-bar .internal-small .medium-label {
  font-size: 18px;
  font-weight: 500;
  color:#34495e;
}
.order-bar .small-label {
  font-size: 16px;
  font-weight: 500;
  color:#34495e;
}
.order-bar .left-border {
  border-left:1px solid #dedede;;
}
.fa-top-margin {
  margin-top:6px;
}
.fa-success {
  color: #19b698;
}

.options-panel {
  padding:0 15px 0 15px;
  border-top: 1px solid #dedede;
}
.nav-tabs > li {
    float:none;
    display:inline-block;
    zoom:1;
}

.nav-tabs {
    text-align:center;
}


/*New Homepage*/

.hero-new .leader {
font-family:'Forza';
font-size: 54px;
font-weight:700;
color:#fff;
letter-spacing: -1.5px;
}

.hero-new .sub {

  margin-top:10px;
color:#fff;
font-family:'Forza';
font-size: 25px;
font-weight:300;
margin-bottom:50px;
}

.hero-new .hero-buttons {
 
 margin-top:30px;

}

.hero-new a.large-link {

    font-size: 20px;
    background: 0 0;
    color: #fff;
    line-height: 26px;
    padding: 10px 34px;
    font-weight: 500;
    -webkit-appearance: initial;
    appearance: initial;
    transition: all .3s ease-in-out;
    border: 2px solid transparent;
     border-color: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin-right:10px;

}
a.large-link:hover {
  background: #17c793;
  color: #fff;
  border: 2px solid transparent;
     border-color: #17c793;
}
.hero-new a.large-link:active, a.large-link:focus, a.large-link:visited {
    text-decoration: none;
}

.offset-body {
  width:100%;
  margin-top:-250px;
  min-height: 500px;
  margin-bottom: 100px;
  background-color: #fff;
  z-index: 1000000;
  padding:20px;
  border:3px solid #34495e;
  -webkit-border-top-left-radius: 10px;
-webkit-border-top-right-radius: 10px;
-moz-border-radius-topleft: 10px;
-moz-border-radius-topright: 10px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;

}

.large-text {
    font-size: 35px;
    font-weight: 700;
}
.small-text {
    font-size: 17px;
    font-weight: 300;
}
.hero-new {
 
/*background-color: #34495e;*/
background: url(/assets/img/rack-min.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
height:450px;
position: relative;
text-align: center;
padding:150px 0px 380px 0px;
margin-top: -60px;
}
.navbar-default-1 {
background-color: rgba(0, 0, 0, 0.4);
border-color: #34495e;
border:0;
border-radius: 0;
z-index: 100000;
}
.navbar-default-1 .logo {
 max-width:100px;
}
.navbar-default-1 li {

font-family:'Forza';
font-weight: 300;
color: #fff;
font-size:17px;
}
.navbar-default-1 li a {
font-family:'Forza';
font-weight: 300;
color: #fff !important;
font-size:17px;
}
.navbar-default-1 .nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: transparent;
    color:#E5E5E5;
}
.navbar-default-1 li a:hover {
  color:#E5E5E5 !important;
}
.wide-wrapper {
  background: #343a46;
}

.padding-50 {
  padding:50px;
}
.padding-5 {
  padding:15px;
}
.text-white {
  color:#fff;
}

.partners img {
  max-width: 100%;
  display: block;
  margin:auto;
  vertical-align: middle;

}
.partners .box {
  min-height: 125px;
  display:flex;
  align-items: center;
  justify-content: center;
}

.article img {
  max-width:100%;
}

 .article ul li {
  list-style: circle;
 }
pre {
    display: block;
    padding: 10px;
    margin: 10px 0 10.5px;
    font-size: 14px;
    line-height: 1.42857143;
    word-break: break-all;
    word-wrap: break-word;
    color: #7b8a8b;
    background-color: #ecf0f1;
    border: 1px solid #cccccc;
    border-radius: 4px;
}



.m-b-10 {
  margin-bottom:10px;
}
.m-t-10 {
  margin-top:10px;
}
.m-b-15 {
  margin-bottom:15px;
}
.m-t-15 {
  margin-top:15px;
}


code {
  background-color: rgba(0,0,0,.05);
  border-radius: 3px;
  font-size: 16px;
  font-family:'Forza';
  display: block;
    box-sizing: border-box;
    white-space: pre;
    word-wrap: normal;
    overflow: auto!important;
    padding: 13px 17px;
    margin: 15px 0px 15px 0px;
}
code::before { 
    content: "$  ";
}


.features {
   padding: 0px 20px 40px 20px;
}

.features h3 {
  font-weight: 500;
  font-size: 26px;
  color:#34495e;
  margin: 0px 0px 10px 0px;
}

.features p {
  font-size: 18px;
    line-height: 26.55px;
    color: #888;
    font-family: 'Forza';
    font-weight: 300;
}

.features img {
  max-width: 100%;
  display: block;
  border: 1px solid #ecf0f1;
  border-radius: 3px;
}
.features .panel-body img {
  border: 0px !important;
}
.features .panel-header {
      border-bottom: 1px solid #ecf0f1;
      padding:10px;
}
.features a {
  font-size: 18px;
    line-height: 26.55px;
    color: #888;
    font-family: 'Forza';
    font-weight: 300;
}
.features .select-image img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.features .select-image {
    border: 1px solid #ecf0f1;
    text-align: center;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.features .panel {
  margin-bottom: 20px;
}
.features-panels {
 padding:0px 15px 0px 15px;
 cursor: pointer;
 margin-bottom: 15px;
 min-height: 120px;
}
.features-panels i {
      color: #34495e;
}
.features-panels h3 {
  margin: 0px 0px 5px 0px;
  padding: 0px;
  font-size: 19px;
  font-weight: 700;
  color: #495057;
}
.features-panels p {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  font-weight: 500;
  color: #adb5bd
}
.features-panels .panel-right {
  border: 1px solid #f1f3f5;
  padding:25px;
  min-height: 120px;
  max-height: 120px;
}
.features-panels .panel-left {
  border: 1px solid #f1f3f5;
  border-right:0px;
  padding:25px;
  text-align: center;
  max-height: 120px;
  min-height: 120px;
}
.features-panels .shadow-1 {
    -webkit-box-shadow: 0 0.25rem 0.125rem 0 rgba(0,0,0,.05);
    box-shadow: 0 0.25rem 0.125rem 0 rgba(0,0,0,.05);
}

.article-line {
  padding:0px 0px 0px 0px;
  margin:0;
}
.article-line li {
  list-style: none;
   padding:10px 10px 10px 30px;

}
.article-line li:not(:last-child) {
  border-bottom: 1px solid #ddd;
}

.article-line .title {
  font-size: 20px;
  font-weight: 500;
  color: #495057;
}
.article-line .data {
  font-size: 16px;
  font-weight: 500;
  color: #adb5bd
}
.article-line .views {
  margin-top:0px;
  font-size: 14px;
  font-weight: 500;
  color: #adb5bd;
}
.article-line li:hover .views {
  color: #495057;
}

.panel.small-panel-gap {
  margin-bottom: 20px;
}
.capital-title-small {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #637283;
}
.panel.small-panel-gap .panel-heading {

    margin-bottom: 0px;

}
.text-bold {

    margin-bottom: 10px;
    font-weight: 700;
    color: #213654;
    font-size: 13px;
}
.badge {
  margin-bottom: 3px;
}
.badge-primary {
  background-color: #3498db;
}
