<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="footer-top">
          <h2 class="logo-title">
            <a href="{{site.baseurl}}/" class="logo-text">1337</a>
          </h2>
          <div class="top"><i class="ion ion-ios-arrow-up"></i></div>
        </div>
        <div class="footer-bottom">
          <div class="copyright">
            <p>&copy; {{site.time | date: '%Y'}} 1337 - tamamen <a href="https://nepix.com.tr">NEPİX</a> markasına aittir tescilli markadir.</p>
          </div>
          <div class="footer-social">
            <ul class="list-reset">
              {% if site.facebook %}
              <li><a href="https://t.me/community1337">Telegram</a></li>
              {% else %} {% endif %}

              {% if site.twitter %}
              <li><a href="https://discord.gg/AccqK3KC5e">Discord</a></li>
              {% else %} {% endif %}

              {% if site.instagram %}
              <li><a href="https://chat.whatsapp.com/HL1oYtX9Fxf2mwJTG0Awl6">Whatsapp</a></li>
              {% else %} {% endif %}

              {% if site.pinterest %}
              {% else %} {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer> <!-- /.footer -->