::-webkit-input-placeholder{color:rgba(255,255,255,0.75)}
:-moz-placeholder{color:rgba(255,255,255,0.75)}
::-moz-placeholder{color:rgba(255,255,255,0.75)}
:-ms-input-placeholder{color:rgba(255,255,255,0.75)}
::-webkit-scrollbar-track{-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);background-color:#F5F5F5}
::-webkit-scrollbar{width:9px;background-color:#F5F5F5}
::-webkit-scrollbar-thumb{background-color:#607D8B}
video{position:fixed;top:50%;left:50%;min-width:100%;min-height:100%;width:auto;height:auto;z-index:-100;transform:translateX(-50%) translateY(-50%);background-size:cover;transition:1s opacity;opacity:.50;filter:alpha(opacity=50)}
.stopfade{opacity:.5}
.verificationcontent{padding:30px}
.verificationcontent p{font-size:18px;text-align:center}
.verificationcontent h1{text-align:center;font-size:24px;font-weight:bold;color:#8bc34a}
.verificationcontent h1 i{font-size:80px}
.verificationcontent form{text-align:center}
.verificationcontent input{text-align:center;width:200px;font-size:16px;font-weight:bold}
.secureoptions{width:265px;margin:auto;margin-top:35px;font-size:16px;font-weight:600;margin-bottom:15px}
.notverification{font-size:13px;color:#b5b5b5;width:100%;text-align:center;display:inline-block;margin-top:20px}
.notverification a{color:#b5b5b5;font-weight:600}
#uyeolgiris{position:fixed;overflow:auto;margin-bottom:0;width:100%;height:100%;bottom:0px;background-image:url(noisebg.png);background-color:rgba(50, 90, 108, 0.55);background-repeat:repeat}
#uyeolgirisbody .footer{display:none}
.uyeolgirisyap{float:none;width:400px;margin:auto;border-radius:27px;    -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;}
  @-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
  }
  @keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
  }
.uyeol{display:inline-block;width:100%;margin:auto;float:none;border-radius:10px;margin-bottom:0px;background:rgba(0,0,0,0.25);box-shadow:0 5px 30px rgba(0,0,0,0.26);color:rgba(255, 255, 255, 0.75)}
.uyeolgirisslogan{float:left;width:100%;text-align:left;margin-top:0;display:none}
.uyeolgirishead{text-align:center;width:100%;margin-top:9%;margin-bottom:0;float:none; -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;}
.padding30{padding:10px 30px}
.sifreunuttulink{color:rgba(255,255,255,0.58)}
.sifreunuttulink:hover{color:rgba(255,255,255,1.00)}
.uyeolgirishead h1{display:none}
.logo{float:none;margin-top:0px;margin-bottom:40px;position:relative}
.uyeolgirisyap .gonderbtn{margin-top:30px}
.logo img{width:130px}
.uyeolgirisslogan h4{width:80%}
#uyeolgiris input{background:transparent;color:rgba(255,255,255,0.75);border-bottom-color:rgba(255,255,255,0.58)}
.uyeolgirisyap .btn{width:200px;background:transparent;    padding: 12px 0px;}
.clientcopyright{width:100%;text-align:center;font-size:13px;margin-top:15px;margin-bottom:30px;color:#b4b4b4;display:inline-block}
.clientcopyright a{color:#b4b4b4}
.socialconnect{display:inline-block;border:none;padding-bottom:0px;margin-bottom:0px}
.footsosyal{margin-top:15px}
.footsosyal a{color:#a1a1a1}
.footsosyal a:hover{background:#eee}
#girisyapright h4{display:none}
.footsosyal{display:none}
.createnewaccountlink{color:rgba(255,255,255,0.58);font-weight:600;margin-bottom:10px;display:inline-block;}
.createnewaccountlink:hover{color:rgba(255,255,255,1.58)}
.checktext a{color:rgba(255,255,255,0.58)}
.checktext a:hover{color:rgba(255,255,255,1.58)}
.country-name{color:#999}
.selected-dial-code{color:rgba(255, 255, 255, 0.75)}

@media only screen and (min-width:320px) and (max-width:1024px){
.uyeolgirishead{width:100%;margin-top:15%}
.uyeolgirishead .logo {    margin-bottom: 25px;}
.uyeolgirisyap{width:100%}
#wrapper{width:90%}
.uyeol{width:100%;position:relative;border-right:none}
.signupcon{position:relative}
#uyeolgiris{overflow-x:auto}
.uyeolgirisslogan{text-align:center}
.uyeolgirisslogan h4{width:90%;font-size:17px;margin:auto;margin-top:25px}
}